## CONTENT LIST

1. Importing Libraries
2. Importing Data
3. Aggregate mean of entire df
4. Loyalty flag to identify difference in spending habits in types of customers
5. Spending flag for each user based on the average price across all their orders
6. Order-frequency flag based on 'days_since_prior_order'

## 1. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## 2. Importing Data from Exercise 4.8

In [2]:
# Importing ords_prods_merged_df from Exercise 4.8
ords_prods_merge = pd.read_pickle(r'C:\Users\heidi\OneDrive\CareerFoundry\Achievement4 Python Fundamentals for Data Analysts\4.2.Jupyter_Fundamentals_and_Python_Data_Types\Instacart Basket Analysis 16-03-2021\02 Data\Prepared Data\ords_prods_merge_grouping_data_1.pkl')

In [3]:
path = r'C:\Users\heidi\OneDrive\CareerFoundry\Achievement4 Python Fundamentals for Data Analysts\4.2.Jupyter_Fundamentals_and_Python_Data_Types\Instacart Basket Analysis 16-03-2021'

In [4]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,11.11,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regular busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.00,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regular busy,Least busy,Average orders,10,New customer
2,473747,1,3,3,12,21.00,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regular busy,Least busy,Most orders,10,New customer
3,2254736,1,4,4,7,29.00,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer
4,431534,1,5,4,15,28.00,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,11.11,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regular busy,Regularly busy,Most orders,3,New customer
96,1469869,377,3,5,17,3.00,196,9,0,both,Soda,77,7,9.0,Mid-range product,Regular busy,Regularly busy,Most orders,3,New customer
97,1927023,387,2,4,10,22.00,196,3,0,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,8,New customer
98,858092,420,4,1,19,30.00,196,2,0,both,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Average orders,22,Regular customer
99,119314,420,5,3,19,16.00,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regular busy,Least busy,Average orders,22,Regular customer

In [47]:
ords_prods_merge.shape

(32399732, 20)

## 3. Aggregate mean of entire df

In [48]:
# Find the aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe.
ords_prods_merge.groupby('department_id').agg({'order_number' :['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.667853
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Analysis: How do the results for the entire dataframe differ from those of the subset?
Seeing that it is an aggregation of larger set of data, the mean values are naturally comparatively smaller in each department.

## 4. Loyalty flag to identify difference in spending habits in types of customers

In [49]:
# Agg groups in 'loyalty flag' for mean, min and max values
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773575  1.0  25.0
New customer      7.801206  1.0  25.0
Regular customer  7.798262  1.0  25.0

Deduction: Not a big difference in mean prices spent on products by different loyalty consumers. No difference in min and max prices.

## 5. Spending flag for each user based on the average price across all their orders

In [50]:
# Create mean_price_ords column based on user_id:
ords_prods_merge['mean_price_ords'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [51]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price_ords
0,2539329,1,1,2,8,11.11,196,1,0,both,...,77,7,9.0,Mid-range product,Regular busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.00,196,1,1,both,...,77,7,9.0,Mid-range product,Regular busy,Least busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.00,196,1,1,both,...,77,7,9.0,Mid-range product,Regular busy,Least busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.00,196,1,1,both,...,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.00,196,1,1,both,...,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797

In [52]:

# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
ords_prods_merge.loc[ords_prods_merge['mean_price_ords'] < 10, 'spending_flag'] = 'Low spender'


# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”
ords_prods_merge.loc[ords_prods_merge['mean_price_ords'] >= 10, 'spending_flag'] = 'High spender'

In [53]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     32280141
High spender      119591
Name: spending_flag, dtype: int64

In [54]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price_ords,spending_flag
0,2539329,1,1,2,8,11.11,196,1,0,both,...,7,9.0,Mid-range product,Regular busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.00,196,1,1,both,...,7,9.0,Mid-range product,Regular busy,Least busy,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.00,196,1,1,both,...,7,9.0,Mid-range product,Regular busy,Least busy,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.00,196,1,1,both,...,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.00,196,1,1,both,...,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender

Deduction: There are roughly far less more Higher spenders than Low spenders.

## 6. Order-frequency flag based on 'days_since_prior_order'

In [55]:
# In order to send relevant notifications to users within the app (for instance, asking users if they want to buy 
# the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order 
# frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order”  
# column. The criteria for the flag should be as follows:

In [56]:
ords_prods_merge['order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [57]:
# a. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
# b. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
# c. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.

In [58]:
# Create categories based on these order frequencies
ords_prods_merge.loc[ords_prods_merge['order_frequency'] > 20, 'customer_frequency_flag'] = 'Non_Frequent customer'
ords_prods_merge.loc[(ords_prods_merge['order_frequency'] > 10) & (ords_prods_merge['order_frequency'] <= 20), 'customer_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['order_frequency'] <= 10, 'customer_frequency_flag'] = 'Frequent customer'

In [59]:
ords_prods_merge['customer_frequency_flag'].value_counts(dropna = False)

Frequent customer        20532647
Regular customer          9167026
Non_Frequent customer     2700059
Name: customer_frequency_flag, dtype: int64

In [60]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price_ords,spending_flag,order_frequency,customer_frequency_flag
0,2539329,1,1,2,8,11.11,196,1,0,both,...,Mid-range product,Regular busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,2,3,7,15.00,196,1,1,both,...,Mid-range product,Regular busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,3,3,12,21.00,196,1,1,both,...,Mid-range product,Regular busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,4,4,7,29.00,196,1,1,both,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,5,4,15,28.00,196,1,1,both,...,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
5,3367565,1,6,2,7,19.00,196,1,1,both,...,Mid-range product,Regular busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
6,550135,1,7,1,9,20.00,196,1,1,both,...,Mid-range product,Regular busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
7,3108588,1,8,1,14,14.00,196,2,1,both,...,Mid-range product,Regular busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
8,2295261,1,9,1,16,0.00,196,4,1,both,...,Mid-range product,Regular busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
9,2550362,1,10,4,8,30.00,196,1,1,both,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [62]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'grouping_data_ords_prods_merged_2.pkl'))